<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.OldCastelLovers"
        tools:targetApi="31">

        <activity
            android:name=".UI.activities.GalleryActivity"
            android:exported="true"
            android:label="@string/title_activity_gallery"
            android:theme="@style/Theme.OldCastelLovers">

        </activity>

        <activity
            android:name=".UI.activities.HomePageActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UI.activities.EntryPageActivity"
            android:exported="true" >
        </activity>

        <activity
            android:name=".UI.activities.CastleDetailsActivity"
            android:exported="true" >

        </activity>

        <activity
            android:name=".UI.activities.LikedCastleActivity"
            android:exported="true" >

        </activity>


        <activity
            android:name=".UI.activities.MediaViewActivity"
            android:exported="false"
            android:label="Media View Activity">
        </activity>
        <activity
            android:name=".UI.activities.DiaryEntryActivity"
            android:exported="true">
        </activity>

        <meta-data
            android:name="apiKey"
            android:value="${MY_API_KEY}"/>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.oldcastellovers.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />
        </provider>
    </application>


</manifest>